In [1]:
import pandas as pd
import numpy as np

In [21]:
path = r"C:\Users\sigit\OneDrive\TSI\thesis\thesis-rag\ballad\results\results_report.csv"
df = pd.read_csv(path)

,System,Faithfulness,Answer Relevancy,Context Precision,Context Recall,Answer Similarity,Answer Correctness,Average
0,GPT-3.5,0.971,0.745,NaN,NaN,0.866,0.660,0.811
1,GPT-4,1.000,0.783,NaN,NaN,0.861,0.679,0.831
2,Naive,0.882,0.726,0.512,0.693,0.684,0.716,0.702
3,Recursive,0.866,0.729,0.512,0.581,0.816,0.790,0.716
4,"Chunk 500, overlap 0%",0.867,0.885,0.377,0.435,0.867,0.665,0.682
5,"Chunk 500, overlap 5%",0.681,0.902,0.441,0.667,0.863,0.653,0.701
6,"Chunk 500, overlap 10%",0.800,0.885,0.451,0.593,0.864,0.663,0.709
7,"Chunk 500, overlap 15%",0.826,0.879,0.645,0.824,0.869,0.631,0.779
8,"Chunk 500, overlap 20%",0.714,0.904,0.506,0.676,0.872,0.587,0.710
9,"Chunk 1000, overlap 0%",0.834,0.723,0.487,0.690,0.781,0.770,0.714
10,"Chunk 1000, overlap 5%",0.859,0.710,0.521,0.568,0.789,0.711,0.693
11,"Chunk 1000, overlap 10%",0.833,0.724,0.472,0.636,0.678,0.763,0.684
12,"Chunk 1000, overlap 15%",0.810,0.719,0.519,0.558,0.736,0.785,0.688
13,"Chunk 1000, overlap 20%",0.809,0.719,0.381,0.538,0.763,0.800,0.668
14,"Chunk 2000, overlap 0%",0.789,0.747,0.471,0.693,0.661,0.556,0.653
15,"Chunk 2000, overlap 5%",0.819,0.724,0.537,0.654,0.765,0.596,0.683
16,"Chunk 2000, overlap 10%",0.894,0.730,0.471,0.561,0.679,0.800,0.689
17,"Chunk 2000, overlap 15%",0.762,0.724,0.443,0.579,0.734,0.766,0.668
18,"Chunk 2000, overlap 20%",0.859,0.731,0.471,0.676,0.699,0.726,0.694
19,"Chunk 3000, overlap 0%",0.865,0.730,0.637,0.689,0.734,0.806,0.743
20,"Chunk 3000, overlap 5%",0.862,0.747,0.464,0.730,0.671,0.642,0.686
21,"Chunk 3000, overlap 10%",0.864,0.711,0.500,0.579,0.678,0.758,0.682
22,"Chunk 3000, overlap 15%",0.884,0.745,0.415,0.578,0.736,0.578,0.656
23,"Chunk 3000, overlap 20%",0.878,0.748,0.458,0.748,0.724,0.649,0.701
24,"Chunk size 500, overlap 15%, K=2",0.740,0.880,0.667,0.730,0.871,0.659,0.758
25,"Chunk size 500, overlap 15%, K=3",0.751,0.806,0.775,0.454,0.805,0.757,0.725
26,"Chunk size 500, overlap 15%, K=5",0.967,0.905,0.637,0.944,0.875,0.632,0.827
27,"Chunk size 500, overlap 15%, K=6",0.793,0.897,0.682,0.676,0.866,0.625,0.756
28,"Chunk size 500, overlap 15%, K=7",0.694,0.747,0.845,0.626,0.825,0.771,0.751
29,Parent Retriever 1000-200,0.731,0.583,0.444,0.685,0.862,0.573,0.647
30,Parent Retriever 500-100,0.816,0.880,0.719,0.648,0.851,0.738,0.775
31,Parent Retriever 1500-200,0.775,0.792,0.444,0.769,0.870,0.613,0.710
32,MMR,0.793,0.899,0.739,0.889,0.874,0.650,0.807
33,BM25,0.851,0.578,0.762,0.881,0.600,0.780,0.742
34,Ensambler 1,0.862,0.896,0.641,0.713,0.884,0.676,0.779
35,Ensambler 2,0.911,0.900,0.631,0.944,0.884,0.678,0.825
36,Ensambler 3,0.829,0.590,0.975,0.785,0.551,0.887,0.769
37,Search query,0.827,0.613,0.587,0.530,0.767,0.512,0.639
38,"Chunk size 500, overlap 15%, K=5- GPT4",1.000,0.746,0.659,0.944,0.887,0.725,0.827
39,"Ensambler 2, GPT-4",0.948,0.879,0.689,0.922,0.892,0.684,0.836
40,MMR GPT4,1.000,0.870,0.739,0.889,0.872,0.720,0.848

In [9]:
df.nlargest(1, "Average")

,System,Faithfulness,Answer Relevancy,Context Precision,Context Recall,Answer Similarity,Answer Correctness,Average
40,MMR GPT4,1.0,0.87,0.739,0.889,0.872,0.72,0.848

In [13]:
ballad_summarize = pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/ballad/results/results_summarize.csv")
ballad_summarize = ballad_summarize[ballad_summarize["System"] != "Ensambler 3, GPT-4"]
ballad_summarize.nlargest(1, "Average")

,System,Faithfulness,Answer Relevancy,Context Precision,Context Recall,Answer Similarity,Answer Correctness,Average
28,"Chunk size 1000, 0%, K=7",0.911,0.826,0.636,0.884,0.913,0.522,0.782

In [12]:
ballad_report = pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/ballad/results/results_report.csv")
ballad_report = ballad_report[ballad_report["System"] != "MMR GPT4"]
ballad_report = ballad_report[ballad_report["System"] != "Ensambler 2, GPT-4"]
ballad_report = ballad_report[ballad_report["System"] != "GPT-4"]
ballad_report.nlargest(1, "Average")

,System,Faithfulness,Answer Relevancy,Context Precision,Context Recall,Answer Similarity,Answer Correctness,Average
26,"Chunk size 500, overlap 15%, K=5",0.967,0.905,0.637,0.944,0.875,0.632,0.827

In [14]:
ballad_qa = pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/ballad/results/results_qa.csv")
ballad_qa = ballad_qa[ballad_qa["System"] != "Ensambler 3, GPT-4"]
ballad_qa.nlargest(1, "Average")

,System,Faithfulness,Answer Relevancy,Context Precision,Context Recall,Answer Similarity,Answer Correctness,Average
35,Ensambler 3,0.615,0.723,0.802,0.403,0.612,0.622,0.629

In [15]:
papers_error = pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/papers/results/results_errors.csv")
papers_error=papers_error[papers_error["System"] != "Chunk size 500, overlap 20%, K=3, GPT-4"]
papers_error.nlargest(1, "Average")

,System,Context Precision,Context Recall,Accuracy,Average
7,"Chunk 500, overlap 15%",0.872,0.9,0.4,0.724

In [16]:
news_qa = pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/news/results/results_qa_news.csv")
news_qa = news_qa[news_qa["System"] != "Chunk 1000, overlap 0%, GPT-4"]
news_qa.nlargest(1, "Average")

,System,Faithfulness,Answer Relevancy,Context Precision,Context Recall,Answer Similarity,Answer Correctness,Average
13,"Chunk 1000, overlap 20%",1.0,0.889,0.883,0.98,0.921,0.609,0.88

In [17]:
dataframes = [
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/papers/results/results_qa.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/papers/results/results_reporting.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/papers/results/results_summarize.csv"),
    papers_error,
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/news/results/results_errors.csv"),
    news_qa,
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/news/results/results_reporting.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/news/results/results_summary.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/ballad/results/results_errors.csv"),
    ballad_qa,
    ballad_report,
    ballad_summarize
]

In [18]:
len(dataframes)

12

In [20]:
difference_values = []

# Iterate through each dataframe
for df in dataframes:
    # Find the maximum value in the "Average" column
    max_avg_value = df["Average"].max()
    # Find the average value corresponding to GPT-3.5
    avg_gpt35 = float(df[df["System"] == "GPT-3.5"]["Average"])
    # Calculate the difference and append it to the list
    difference_values.append(max_avg_value - avg_gpt35)

# # Calculate the average of all the difference values
average_difference = sum(difference_values) / len(difference_values)

print("Average difference between max value and average value of GPT-3.5 across all dataframes:", average_difference)

Average difference between max value and average value of GPT-3.5 across all dataframes: 0.3210833333333334

In [22]:
dataframes = [
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/papers/results/results_qa.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/papers/results/results_reporting.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/papers/results/results_summarize.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/papers/results/results_errors.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/news/results/results_errors.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/news/results/results_qa_news.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/news/results/results_reporting.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/news/results/results_summary.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/ballad/results/results_errors.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/ballad/results/results_qa.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/ballad/results/results_report.csv"),
    pd.read_csv(f"C:/Users/sigit/OneDrive/TSI/thesis/thesis-rag/ballad/results/results_summarize.csv")
]

In [25]:
difference_values = []

# Iterate through each dataframe
for df in dataframes:
    # Find the maximum value in the "Average" column for systems containing "GPT-4"
    max_avg_value_gpt4 = df[df["System"].str.contains("GPT-4")]["Average"].max()
    
    # Find the maximum value in the "Average" column for the regular "GPT-4" system
    max_avg_value_regular_gpt4 = df[df["System"] == "GPT-4"]["Average"].max()

    # Compare and choose the greater value between the two
    max_avg_value = max(max_avg_value_gpt4, max_avg_value_regular_gpt4)

    # Find the average value corresponding to GPT-4
    avg_gpt4 = float(df[df["System"].str.contains("GPT-4")]["Average"].mean())

    # Calculate the difference and append it to the list
    difference_values.append(max_avg_value - avg_gpt4)

# Calculate the average of all the difference values
average_difference = sum(difference_values) / len(difference_values)

print("Average difference between max value and average value of GPT-4 across all dataframes:", average_difference)

Average difference between max value and average value of GPT-4 across all dataframes: 0.07086805555555559